body{
    overflow-y: hidden;
}

h1{
    font-weight:300;
}

.Documentation{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}

aside{
    position: relative;
    border: 1px solid rgba(0,0,0,.3);
    flex: 1;
    padding: 20px;
    height: 100dvh;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

aside > section{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

aside > section > p{
    position: relative;
    box-sizing: border-box;
    padding: 5px;
    border-bottom: 1px solid rgba(0,0,0,.3);
    border-radius: 5px 5px 0 0;
    transition: background-color .5s ease, border-radius .5s ease;
    cursor: pointer;
}

aside > section > p:hover{
    background-color: rgba(0,0,0,.1);
    border-radius: 5px;
}

.Details{
    position: relative;
    flex: 5;
    width: 100%;
    padding: 20px;
    overflow-y:auto;
    scroll-behavior: smooth;
    height: auto;
}

.Details > .content{
    line-height: 2;
}

.Details > .content ul{
    margin-left: 20px;
}

@media screen and (width <= 1024px) {

    .Documentation{
        flex-direction: column;
        height: 100dvh;
    }

    aside{
        position: relative;
        height: 30px;
        padding: 0;
        width: 100%;
        align-items: center;
    }

    aside > section{
        flex-direction: row;
        overflow-x: auto;
    }

    .Details{
        overflow-y:auto;
        height: max-content;
        padding-bottom: 100px;
    }
}