/*
>-------| CORES |-------<

#353535
#3C6E71
#D9D9D9
#284B63

*/

body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color:#284B63;
  color: white;
  font-family: "Roboto Flex", sans-serif;
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading{
  position: relative;
  width: 100%;
  height: 100dvh;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.loadingIcon{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(0,0,0,0);
  border: 25px dashed rgba(95, 158, 160, 0.449);
  animation: loadingAnimation 2s infinite ease-in-out;
}

@keyframes loadingAnimation {
  0%{rotate: 0deg;}
  100%{rotate: 360deg;}
}

.errorScreen{
  position: relative;
  height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #632828;
  animation: forwards animationError .5s ease;
  opacity: 0;
  font-size: clamp(5px,1rem,2rem);
}

@keyframes animationError {
  from{opacity: 0;}
  to{opacity: 1;}
}

.titulo1{
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 800;
  font-size: clamp(2rem,3rem,4rem);
}

.title{
  display: flex;
  align-items: center;
  justify-content: center;
}

.details{
  position: relative;

  display: grid;
  grid-template-columns: repeat(3,auto);

  width: 80%;
  gap: 10px;
  background-color: #D9D9D9;
  color: black;
  border-radius: 20px;
  padding: 20px;  
}

.details > div{
  border-bottom: #3C6E71 solid 2px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: #d0d0d0;
  padding: 5px 20px;
  transition: all .1s ease;
}

.details > div:hover{
  box-shadow: 0 0 5px #35353555;
}

.details > h2{
  grid-column: span 3;
  text-align: center;
  padding-top: 50px;
}

.cpu{
  grid-column: span 2;
}

.users,
.software,
.connection,
.disks,
.memory,
.gpu{
  grid-column: span 3;
}

.connection .content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.disks .content > div,
.memory .content > div{
  border-top: 1px solid rgba(0, 0, 0, 0.355);
}
.disks .content > div > h3,
.memory .content > div > h3{
  text-align: center;
}

.ipvs{
  opacity: .5;
}

