/*
>-------| CORES |-------<

#353535
#3C6E71
#D9D9D9
#284B63

*/

body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color:#284B63;
  color: white;
  font-family: "Roboto Flex", sans-serif;
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.loading{
  position: relative;
  width: 100%;
  height: 100dvh;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.loadingIcon{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(0,0,0,0);
  border: 25px dashed rgba(95, 158, 160, 0.449);
  animation: loadingAnimation 2s infinite ease-in-out;
}

@keyframes loadingAnimation {
  0%{rotate: 0deg;}
  100%{rotate: 360deg;}
}

.errorScreen{
  position: relative;
  height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #632828;
  animation: forwards animationError .5s ease;
  opacity: 0;
  font-size: clamp(5px,1rem,2rem);
}

@keyframes animationError {
  from{opacity: 0;}
  to{opacity: 1;}
}

.titulo1{
  position: relative;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 800;
  font-size: clamp(1rem,3rem,4rem);
  text-shadow: #d0d0d0 0 0 4px;
  background-color: #1d3a4d;
  background: linear-gradient(to bottom,#1d3a4d , #284B63);
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  padding: 50px 0;
}

.titulo2{
  text-align: center;
  font-weight: 500;
}

.title{
  display: flex;
  align-items: center;
  justify-content: center;
}

.details{
  position: relative;

  display: grid;
  grid-template-columns: repeat(3,1fr);

  width: 80%;
  gap: 10px;
  background-color: #D9D9D9;
  color: black;
  border-radius: 20px;
  padding: 20px;  
}

.details > div{
  border-bottom: #3C6E71 solid 2px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: #d0d0d0;
  padding: 5px 20px;
  transition: all .1s ease;
}

.details > div:hover{
  box-shadow: 0 0 5px #35353555;
}

.details > h2{
  grid-column: span 3;
  text-align: center;
  padding-top: 50px;
}

.cpu{
  grid-column: span 2;
}

.general,
.users,
.software,
.connection,
.disks,
.memory,
.gpu{
  grid-column: span 3;
}

.connection .content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.disks .content > div,
.memory .content > div{
  border-top: 1px solid rgba(0, 0, 0, 0.355);
}
.disks .content > div > h3,
.memory .content > div > h3{
  text-align: center;
}

.ipvs{
  opacity: .5;
}

@media screen and (max-width: 1024px) {

  .titulo1{
    padding: 30px 20px;
  }

  .details{
    grid-template-columns: 1fr;
    width: 95%;
    box-sizing: border-box;
  }

  .details > div,
  .cpu, .users, .software, .connection, .disks, .memory, .gpu, .details > h2 {
    grid-column: span 1 !important;
    width: 100%; /* Garante que o card ocupe apenas a largura da coluna */
    box-sizing: border-box;
    word-wrap: break-word; /* Força a quebra de palavras longas */
    overflow-wrap: break-word;
    padding: 0 10px;
  }

  /* Ajuste para o conteúdo da conexão que você colocou como row anteriormente */
  .connection .content {
    flex-direction: column;
    align-items: flex-start;
  }

}