nav{
    position: sticky;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    height: 100px;
    color: black;
}

nav a{
    text-transform: none;
    color: black;
}

nav .icons > *,
nav a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: #D9D9D9;
    padding: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: .5s all ease;
}

nav .icons > *:hover,
nav a:hover{
    transform: scale(1.2);
}

nav .icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border-radius: 30px;
    transition: background-color .5s ease;
}

nav .icons:hover{
    background-color: rgba(255,255,255,0.1);
}